.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: floralwhite;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#page-container {
  margin: 0;
}

#nav-container {
  margin-left: 20px;
}

#home-h1 {
  color: midnightblue;
  position: relative;
  float: left;
}

#museum-h1-div {
  background: rgba(0, 0, 0, 0.17);
  border-radius: 5px;
  position: absolute;
  left: 0.5em;
  top: 0.15em;
  padding: 0 10px 0 10px;
}

#museum-h1 {
  margin: 0 0 0 0;
  color: white;

}

#modal-title-1 {
  margin-right: 2em;
}

#home-r1 {
  position: relative;
  width: 100%;
}

#footer {
  position: relative;
  height: 70px;
  background-color: rgb(245, 245, 246);
  width: 100%;
  /*text-align: center;*/
  color: black;
  padding-top: 20px;
  margin-top: 40px;
}

#footer-text {
  position: relative;
  text-align: center;
  margin-bottom: 0;
}

#admin {
  position: relative;
  right: 1em;
  text-align: right;
  color: darkgray;
}

.credits {
  text-decoration: none;
  color: royalblue;
  font-weight: 450;
}

.credits:hover {
  font-weight: 500;
  color: blue;
}

.loud {
  font-weight: 600;
  color: midnightblue;
}

.museum-card:hover {
  background-color: aliceblue!important;
  cursor: pointer;
}

.museum-exhibitions {
  border-top-color: midnightblue;
  border-top-style: solid;
  border-top-width: thin;
  margin-top: 1em;
  margin-bottom: 0.5em;
  padding-top: 1em;
}

.exhibitions-div {
  border-bottom-color: midnightblue;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.breadcrumb-item {
  font-size: small;
  color: dimgray;
}

.breadcrumb-item a {
  text-decoration: none;
  color: steelblue;
}

.homeCol a {
  text-decoration: none;
}

.hTitle {
  color: darkblue;
}

.hText {
  color: darkslategray;
}

.div-r2 {
  background-color: ghostwhite;
  height: 100%;
  width: 100%;
  padding: 0em;
  position: relative;
}

.c-r2 {
  padding: 1em;
}

#map-container {
  position: relative;
}

#inner-map-container {
  position: relative;
}

#map-museum-header h4, p {
  text-align: left;
  margin-left: 15px;
}

#restaurant-container {
  padding: 1em;
  position: relative;
}

.museum-r {
  background-color: ghostwhite;
  margin-bottom: 1em;
  margin-right: 0!important;
  margin-left: 0!important;
}

.museum-r h3 {
  color: cadetblue;
}

.museum-r1 {
  min-height: 250px;
}

.museum-r2 {
  min-height: 250px;
  margin-top: 1em;
  margin-bottom: 0.5em;
  padding-top: 1em;
}

.mus-h1 {
  color: midnightblue;
  position: relative;
  float: left;
}

.clickable-breadcrumb {
  color: #337ebd;
}

#spacer {
  margin-bottom: 1em;
}

#mus-exh-link {
  text-decoration: none;
  color: darkblue;
  font-weight: 425;
}

#confirm-github {
  color: darkslateblue;
}

#confirm-github-title {
  font-size: 22px;
  color: darkblue;
  font-weight: 600;
}

#map-error {
  position: absolute;
  top: 40%;
  right: 25%
}

.map-center-vertical {
  position: absolute;
  top: 40%;
  text-align: center;
}

#navbar {
  background-color: rgb(245, 245, 246)!important;
}

.btn-light.r-name {
  background-color: ghostwhite;
}

#museum-info-container {
  padding: 0;
  margin: 0;
  min-height: 250px;
}

#museum-banner-container {
  position: relative;
  padding: 0;
  margin: 0;
}